<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.data.BlogFolderMapper">

    <select id="getBlogFoldersByUserId" resultMap="Folder">
        select * from `blogfolder` where userId=#{userId};
    </select>
    <insert id="putBlogFolder">
        insert into `blogfolder`(userId,folder_name)
        values (#{userId},#{folder_name})
    </insert>
    <delete id="deleteBlogFolder">
        delete from `blogfolder`
        where userId=#{userId} and folder_name=#{folder_name}
    </delete>

    <resultMap id="Folder" type="com.example.blog.po.BlogFolder">
        <result column="userId" property="userId"></result>
        <result column="folder_name" property="folder_name"></result>
    </resultMap>

</mapper>