<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.data.FavorMapper">

    <insert id="putFavor" parameterType="com.example.blog.po.Favor">
        insert into `favor`(userId, blogId, classification)
        values (#{userId},#{blogId},#{classification})
    </insert>
    <select id="getFavors" resultType="int">
        select blogId from `favor` where userId=#{userId} and classification=#{classification}
    </select>
    <select id="inFavor" resultType="String">
        select classification from `favor` where userId=#{userId} and blogId=#{blogId}
    </select>

</mapper>