<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.blog.data.UserMapper">
    <insert id="registerAccount" parameterType="com.example.blog.po.User" useGeneratedKeys="true" keyProperty="userId">
        insert into `user`(email,username,userImg,password,self_introduction)
        values(#{email},#{username},#{userImg},#{password},#{self_introduction})
    </insert>
    <select id="getAccountByEmail" resultMap="User">
        select * from `user` where email=#{email}
    </select>
    <select id="getUserInfo" resultMap="User">
        select * from `user` where userId=#{userId}
    </select>
    <update id="updateUserInfo">
        update `user` set email=#{email},username=#{username},userImg=#{userImg},password=#{password},self_introduction=#{self_introduction}
        where userId=#{userId}
    </update>


    <resultMap id="User" type="com.example.blog.po.User">
        <id column="userId" property="userId"></id>
        <result column="email" property="email"></result>
        <result column="password" property="password"></result>
        <result column="username" property="username"></result>
        <result column="userImg" property="userImg"></result>
        <result column="self_introduction" property="self_introduction"></result>
    </resultMap>
</mapper>
